@using ControlAsistencia_.Models;
@{
    Empleado empleado = (Empleado)ViewData["empleado"];
    DatosEmpleado datosEmpleado = (DatosEmpleado)ViewData["datosEmpleado"];
    var mensaje = ViewData["mensaje"];
    var error = ViewData["error"];
}

<link rel="stylesheet" href="~/css/personal.css" />
<div>
    <h5 id="titulo" class="text-center py-3 rounded mt-4">Editar Información Empleado</h5>
    <div class="mt-3 border rounded px-3 py-3 bg-light">
        @*<form asp-controller="Personal" asp-action="ActualizarDatos" method="post">*@
        <form id="formularioUpdate" method="post">
            <input type="hidden" name="id" value="@empleado.Id" />
            <div class="row mt-1">
                <div class="col-7">
                    <label>Nombre Completo</label>
                    <input class="form-control" id="nombreCompleto" type="text" name="nombreCompleto" value="@empleado.NombreCompleto" placeholder="Paterno / Materno / Nombre(s)" />
                </div>
                <div class="col-2">
                    <label>Numero Expediente</label>
                    <input class="form-control" type="text" id="numeroExpediente" name="numeroExpediente" value="@empleado.NumeroExpediente" placeholder="" />
                </div>
                <div class="col-1">
                    <label>UR</label>
                    <input class="form-control" type="text" id="ur" name="ur" value="@empleado.UR" />
                </div>
                <div class="col-2">
                    <label>Fecha Ingreso</label>
                    <input class="form-control" type="text" id="fechaIngreso" name="fechaIngreso" value="@empleado.FechaIngreso" placeholder="dd/mm/aaaa" />
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-4">
                    <label>Municipio:</label>
                    <select class="form-control" id="municipio" name="municipio">
                        <option value="@empleado.IdMunicipio">@datosEmpleado.Municipio</option>
                    </select>
                </div>
                <div class="col-6">
                    <label>Inmueble donde labora:</label>
                    <select class="form-control" id="inmueble" name="inmueble">
                        <option value="@empleado.IdInmueble">@datosEmpleado.Inmueble</option>
                    </select>
                </div>
                <div class="col-2">
                    <label>Contratación:</label>
                    <select class="form-control" id="contratacion" name="contratacion">
                        <option value="@empleado.IdContratacion">@datosEmpleado.Contratacion</option>
                    </select>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <label>Unidad Administrativa:</label>
                    <select class="form-control" id="unidadAdministrativa" name="unidadAdministrativa">
                        <option value="@empleado.IdUnidadAdministrativa">@datosEmpleado.UnidadAdministrativa</option>
                    </select>
                </div>
                <div class="col-6">
                    <label>Centro de Trabajo:</label>
                    <select class="form-control" id="centroTrabajo" name="centroTrabajo">
                        <option value="@empleado.IdCentroTrabajo">@datosEmpleado.CentroTrabajo</option>
                    </select>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-4">
                    <label>Cargo:</label>
                    <select class="form-control" id="cargo" name="cargo">
                        <option value="@empleado.IdCargo">@datosEmpleado.Cargo</option>
                    </select>
                </div>
                @*<div class="col-4">
                    <label>Cargo Homologado:</label>
                    <select class="form-control" id="cargoHomologado" name="cargoHomologado">
                        <option value="@empleado.IdCargoHomologado">@datosEmpleado.CargoHomologado</option>
                    </select>
                </div>*@
                <div class="col-4">
                    <label>Horario</label>
                    <input class="form-control" type="text" id="horario" name="horario" value="@empleado.Horario" placeholder="" />
                </div>
            </div>

            <div class="text-center mt-3">
                <button id="actualizar" type="button" class="btn btn-info py-2 px-4">Actualizar</button>
            </div>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal-ok modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="alert alert-success text-center" role="alert">
                    Cambios Guardados Correctamente
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="modal-error modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="alert alert-warning text-center" role="alert">
                    Lo cambios no se guardarón correctamente, intentelo nuevamente.
                </div>
            </div>
        </div>
    </div>
</div>*@


<script src="~/js/Personal-Editar.js" asp-append-version="true"></script>