@using ControlAsistencia_.Models;
@using Microsoft.AspNetCore.Identity;
@{
    ViewData["Title"] = "Inicio";
    List<Empleado> empleados = (List<Empleado>)ViewData["empleados"];
    var i = 1;
}

<link rel="stylesheet" href="~/css/personal.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div>
    <h5 id="titulo" class="text-center py-3 rounded mt-4">Empleados</h5>
    <div>
        <div class="row py-4">
            <div class="col-10">
                <form asp-controller="Personal" asp-action="Buscar" method="post">
                    <div class="row">
                        <div class="col-10">
                            <input class="form-control" type="text" name="nombre" value="" placeholder="Nombre" />
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-info my-auto">Buscar</button>
                        </div>
                    </div>
                </form>
            </div>
            @if (User.IsInRole("77a225a3-1266-4b1f-b11c-504969afa856") || User.IsInRole("9a39bcce-b092-4f90-9de7-9e0fb2137034"))
            {
                <div class="col-1">
                    <a asp-controller="Personal" asp-action="Agregar" class="btn btn-info ">Agregar</a>
                </div>
            }

        </div>
        <hr />
    </div>

    <div>
        <table class="table text-secondary text-center bg-light">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre Completo</th>
                    <th scope="col">N°Expediente</th>
                    <th scope="col">Detalles</th>
                    @if (User.IsInRole("77a225a3-1266-4b1f-b11c-504969afa856") || User.IsInRole("9a39bcce-b092-4f90-9de7-9e0fb2137034"))
                    {
                        <th scope="col">Editar</th>
                    }

                    <th scope="col">Asistencias</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var empleado in empleados)
                    {
                        var actualizar = "Actualizar/?idEmpleado=" + empleado.Id;
                        var asistencias = "/Asistencias/Empleado/?idEmpleado=" + empleado.Id;
                                <tr>
                                    <td>@i</td>
                                    <td>@empleado.NombreCompleto</td>
                                    <td>@empleado.NumeroExpediente</td>
                                    <td><button data-toggle="modal" data-target="#staticBackdrop" class="btn btn-info detalles" id="@empleado.Id"> <span class="material-icons">description</span></button></td>
                                    @if (User.IsInRole("77a225a3-1266-4b1f-b11c-504969afa856") || User.IsInRole("9a39bcce-b092-4f90-9de7-9e0fb2137034"))
                                    {
                                        <td><a class="btn btn-info" href="@actualizar"> <span class="material-icons">edit_square</span></a></td>
                                    }
                                    <td><a class="btn btn-info" asp-controller="Asistencias" asp-action="Empleado" asp-route-idEmpleado="@empleado.Id" asp-route-mes="@DateTime.Now" > <span class="material-icons">calendar_month</span></a></td>
                                </tr>
                        i = i + 1;
                    }
                }
            </tbody>
        </table>
    </div>
</div>


<!-- Modal -->
<div class="modal" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class=" text-center" id="staticBackdropLabel">Empleado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/" method="post">
                    <div class="row">
                        <div class="col">
                            <label>Nombre Completo</label>
                            <input readonly class="form-control" type="text" id="nombreCompleto" name="nombreCompleto" value="" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Numero de Expediente</label>
                            <input readonly class="form-control" type="text" id="numeroExpediente" name="numeroExpediente" value="" />
                        </div>
                        <div class="col">
                            <label>UR</label>
                            <input readonly class="form-control" type="text" id="ur" name="ur" value="" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Horario</label>
                            <input readonly class="form-control" type="text" id="horario" name="horario" value="" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Municipio</label>
                            <input readonly class="form-control" type="text" id="municipio" name="municipio" value="" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Inmueble</label>
                            <input readonly class="form-control" type="text" id="inmueble" name="inmueble" value="" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Centro de Trabajo</label>
                            <input readonly class="form-control" type="text" id="centroTrabajo" name="centroTrabajo" value="" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Unidad Administrativa</label>
                            <input readonly class="form-control" type="text" id="unidadAdministrativa" name="unidadAdministrativa" value="" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Cargo</label>
                            <input readonly class="form-control" type="text" id="cargo" name="cargo" value="" />
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Personal.js" asp-append-version="true"></script>