@using ControlAsistencia_.Models;
@{
    ViewData["Title"] = "Personal";
    Empleado empleado = (Empleado)ViewData["empleado"];
    List<TablaAsistencias> tabla = (List<TablaAsistencias>)ViewData["tabla"];
    DateTime FechaActual = DateTime.Parse(ViewData["fecha"].ToString());

}

<link rel="stylesheet" href="~/css/personal.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div>
    <h5 id="titulo" class="text-center py-3 rounded mt-4">Asistencias de @empleado.NombreCompleto</h5>

    <div class="mt-5 px-4 py-4 border bg-light rounded">
        <div>
            <form method="post">
                <div class="row">
                    <div class="col-4">
                        <input type="hidden" name="idEmpleado" id="idEmpleado" value="@empleado.Id" />
                        <label>Seleccionar Mes:</label>
                        <input class="form-control"  type="date" min="2022-01-01" value="@FechaActual" name="mes" id="mes" required  />
                    </div>
                    <div class="col-3 text-center">
                        <label class="text-white">.</label>
                        <button id="Buscar" type="submit" asp-controller="Asistencias" asp-action="Empleado" class="form-control btn btn-info">Consultar Asistencias</button>
                    </div>
                </div>
            </form>
        </div>

        <hr />
        @if (tabla.Count() <= 0)
        {
            <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
                No hay registros de asistencias.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <div class="my-5">
            <table id="tabla" class="table table-hover w-90 m-auto">
                <thead class="text-secondary text-center">
                    <tr>
                        <th scope="col">Dia</th>
                        <th scope="col">Entrada</th>
                        <th scope="col">Salida Comida</th>
                        <th scope="col">Entrada Comida</th>
                        <th scope="col">Salida</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    @foreach(var asistencia in tabla)
            {
                        <tr>
                            <td>@asistencia.Dia</td>
                            <td>@asistencia.Entrada</td>
                            <td>@asistencia.SalidaComida</td>
                            <td>@asistencia.RegresoComida</td>
                            <td>@asistencia.Salida</td>
                        </tr>
            }
                </tbody>
            </table>
        </div>
    </div>
</div>


@*<script src="~/js/asistencias.js" asp-append-version="true"></script>*@
